@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
/*=== NAVBAR ===*/
header {
  position: fixed;
  background: whitesmoke;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 30px;
}
.list-items {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
}

.list-items-two {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.nav-btn {
  padding: 16px 50px;
  border: none;
  background: #f27a44;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #262626;
}
.none {
  display: none;
}

.ham-bars {
  position: relative;
  right: 20px;
  z-index: 500;
  top: 0;
  cursor: pointer;
}

.open {
  display: block;
}

/*=== HOME-SECTION ===*/
.home-section {
  margin-top: 80px;
  padding: 100px;
  background: rgba(248, 226, 126, 0.1);
}

.home-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.home-section-content {
  margin-top: 50px;
  text-align: center;
}

.home-section-btn {
  margin-top: 20px;
  padding: 16px 50px;
  gap: 16px;
  width: 165px;
  height: 51px;
  background: #f27a44;
  color: white;
  border-radius: 30px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.home-green-background img {
  display: block;
  width: 100%;
  border-radius: 44.5%;
  position: absolute;
  bottom: 0;
}

.home-green-background {
  height: 341px;
  width: 341px;
  border-radius: 50%;
  background-color: #87cc81;
  position: relative;
}
/*=== HOME SECTION FONTS ===*/
.font-inter-600 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 80px;
  color: #1f2027;
}

.font-poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #1f2027;
}

.font-poppins-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  color: #1f2027;
}

.font-inter-400 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #505c59;
  margin-top: 20px;
}
/*=== TROPICAL ADVENTURE SECTION ===*/

.tropical-adventure-section-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 130px 10px;
  width: 360px;
  margin: 0 auto;
}

.tropical-adventure-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  margin-top: 80px;
}

.tropical-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 330px;
  height: 130px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 3.1255478858947754px 5.925629615783691px 0px #00000009;
  box-shadow: 0px 47px 152px 0px #00000017;
}

.tropical-card h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.tropical-card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #000000;
}

.tropical-adventure-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.tropical-adventure-section-content ul li {
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.font-inter-700 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.font-inter-500 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.tropical-font-inter-600 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0;
  color: #000000;
}

.explore-more-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 50px;
  gap: 16px;
  border: none;
  width: 200px;
  height: 51px;
  margin-top: 30px;
  background: #f27a44;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
/*=== OUR DESTINATIONS SECTION ===*/
.scroll-container {
  padding: 10px 0;
  box-sizing: border-box;
  width: 330px;
}
.our-destinations-section {
  padding-top: 0;
  padding-bottom: 60px;
}
.scroll-card-wrapper {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 360px;
  /* height: 400px; */
  padding: 60px 0;
}

.our-destinations-section h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  text-align: center;
}
.our-destinations-section h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.scroll-container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.scroll-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px;
  width: 300px;
}
/*=== STUDENT DISCOUNT SECTION  ===*/
.student-discount-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 30px 0;
}

.student-discount-section-content ul li {
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.student-discount-section-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 130px 10px;
  width: 360px;
  margin: 0 auto;
}

.student-discount-heroein {
  position: absolute;
  border-radius: 50%;
  display: block;
  z-index: 10;
  width: 100%;
  bottom: 0;
  right: 0;
}

.half-circle {
  display: block;
  width: 100%;
  z-index: 2;
  position: sticky;
  bottom: 0;
  right: 0;
}

.cylindrical-shape {
  position: absolute;
  top: -200px;
  z-index: 2;
  left: 20px;
}

.heroein-relative {
  position: relative;
  box-sizing: border-box;
}

.back-cylindrical-shape {
  position: absolute;
  top: -60px;
  z-index: 1;
  left: 0;
}

.heroein-subtract {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.discount-ellipse {
  position: absolute;
  left: 0;
  top: 0;
}

.discount-subtract {
  position: absolute;
  right: 0;
  top: 0;
}

/*=== BOOKING SECTION ===*/

.book-now-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin: 0 auto;
  padding: 130px 0;
  box-sizing: border-box;
}

.book-now-relative {
  position: relative;
  box-sizing: border-box;
}

.book-now-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: block;
  width: 100%;
  z-index: 3;
}

input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #78858f;
}

.book-now-subtract {
  position: absolute;
  top: -150px;
  right: 0;
}

.book-now-card {
  box-shadow: 0px 4.424776077270508px 6.210212707519531px 0px #00000007;
  box-shadow: 0px 14.861903190612793px 20.858810424804688px 0px #0000000b;
  box-shadow: 0px 66.53697204589844px 93.38522338867188px 0px #00000012;
  width: 300px;
  border-radius: 15px;
  background-color: white;
  padding: 90px 30px;
  margin-top: 30px;
  line-height: 40px;
}

.book-now {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32.6848px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 10px;
}

.book-now-card-para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18.677px;
  line-height: 27px;
  letter-spacing: 0.583658px;
  color: #282828;
}

.book-now-card-labels {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12.8405px;
  line-height: 27px;
  letter-spacing: 0.583658px;
  text-transform: uppercase;
  color: #000000;
}

.book-card-flex-columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}

.book-card-column input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 17.5097px;
  width: 130.1px;
  height: 52.53px;
  border: none;
  background: #f3f3f3;
  border-radius: 11.6732px;
  font-family: "Inter";
}

.city-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 17.5097px;
  width: 93%;
  height: 52.53px;
  border: none;
  background: #f3f3f3;
  border-radius: 11.6732px;
  font-family: "Inter";
}

.book-now-card-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 14.0078px 18.677px;
  width: 125.35px;
  height: 46.02px;
  color: white;
  background: #000000;
  border-radius: 4.66926px;
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15.1751px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/*=== SHAPES ===*/
.brown-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 20px transparent;
  transform: rotate(45deg);
  position: absolute;
  border-left: solid 20px #be554b;
  top: 520px;
  left: 40px;
}

.brown-shape2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 20px transparent;
  transform: rotate(45deg);
  position: absolute;
  border-top: solid 20px #be554b;
  top: 100px;
  left: 5px;
}

.green-shape {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 10px #87cc81;
  position: absolute;
  top: 480px;
  right: 30px;
}

.green-shape2 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: solid 20px transparent;
  border-right: solid 20px #87cc81;
  position: absolute;
  transform: rotate(45deg);
  top: 100px;
  right: 30px;
}

.yellow-shape {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: solid 30px transparent;
  border-right: solid 30px #f8e27e;
  position: absolute;
  transform: rotate(45deg);
  top: 980px;
  right: 50px;
}

.white-shape {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: solid 5px #d9d9d9;
  position: absolute;
  top: 980px;
  left: 20px;
}

.rectangle {
  position: absolute;
  display: block;
  width: 100%;
  top: 120px;
  left: 5px;
  z-index: 1;
}

/*=== TESTIMONIALS-CARDS ===*/
.testimonial-section-container h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.testimoni-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  text-align: center;
  width: 296px;
  height: 290px;
  background: #ffffff;
}

.testimonials-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-name {
  box-shadow: 0px 15px 10px -15px #111;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #2d2e2e;
}

.testimoni-card-para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #2d2e2e;
}

/*=== FOOTER ===*/

.footer-container {
  width: 360px;
  margin: 0 auto;
  padding: 100px 0;
}
.footer-center-content {
  display: flex;
  flex-direction: column;
  line-height: 5px;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: 150px;
  padding: 100px 0;
}
.footer-links ul li {
  list-style-type: none;
}

.footer-head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.footer-para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.footer-lg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2d2e2e;
}
.footer-dark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #2d2e2e;
}
.blue-disc {
  position: absolute;
  right: 0;
  top: -120px;
}
