@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 40px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  font-family: "Inter", sans-serif;
}

nav ul {
  display: none;
}

.bars {
  position: absolute;
  right: 20px;
  top: 30px;
}

nav input {
  display: none;
}

nav input:checked ~ .nav-items {
  display: block;
}

.first-section {
  margin-top: 80px;
  padding: 100px;
  background: rgba(248, 226, 126, 0.1);
}

.first-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}
.green-disc {
  height: 341px;
  width: 341px;
  border-radius: 50%;
  background-color: #87cc81;
  position: relative;
}

.green-disc img {
  display: block;
  width: 100%;
  border-radius: 44.5%;
  position: absolute;
  bottom: 0;
}

.inter-small {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 80px;
  color: #1f2027;
}

.poppins-big {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #1f2027;
}

.poppins-lg {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  color: #1f2027;
}

.inter-lg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #505c59;
  margin-top: 20px;
}

.first-section-content {
  margin-top: 50px;
  text-align: center;
}

.first-section-btn {
  margin-top: 20px;
  padding: 16px 50px;
  gap: 16px;
  width: 165px;
  height: 51px;
  background: #f27a44;
  color: white;
  border-radius: 30px;
  border: none;
}
.second-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 10px;
}
.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 3.1255478858947754px 5.925629615783691px 0px #00000009;
  box-shadow: 0px 47px 152px 0px #00000017;
}

.card h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #000000;
}

.inter-dark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.inter-second-lg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.inter-very-lg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0;
  color: #000000;
}

.second-section-content ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.brown-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 20px transparent;
  transform: rotate(45deg);
  position: absolute;
  border-left: solid 20px #be554b;
  top: 520px;
  left: 40px;
}
.brown-shape2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 20px transparent;
  transform: rotate(45deg);
  position: absolute;
  border-top: solid 20px #be554b;
  top: 100px;
  left: 5px;
}
.green-shape {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 10px #87cc81;
  position: absolute;
  top: 480px;
  right: 30px;
}
.green-shape2 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: solid 20px transparent;
  border-right: solid 20px #87cc81;
  position: absolute;
  transform: rotate(45deg);
  top: 100px;
  right: 30px;
}
.yellow-shape {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: solid 30px transparent;
  border-right: solid 30px #f8e27e;
  position: absolute;
  transform: rotate(45deg);
  top: 980px;
  right: 50px;
}
.white-shape {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: solid 5px #d9d9d9;
  position: absolute;
  top: 980px;
  left: 20px;
}
.heroein-relative {
  position: relative;
  box-sizing: border-box;
}
.heroein {
  position: absolute;
  border-radius: 50%;
  display: block;
  width: 100%;
  bottom: 0;
  right: 0;
}
.fourth-section-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 130px 10px;
  width: 360px;
  margin: 0 auto;
}
.fifth-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: 0 auto;
  padding: 130px 10px;
  box-sizing: border-box;
}
.book-now-relative {
  position: relative;
  box-sizing: border-box;
}
.book-now-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: block;
  width: 100%;
}
.shape {
  display: block;
  width: 100%;
}
.book-now-card {
  box-shadow: 0px 4.424776077270508px 6.210212707519531px 0px #00000007;
  box-shadow: 0px 14.861903190612793px 20.858810424804688px 0px #0000000b;
  box-shadow: 0px 66.53697204589844px 93.38522338867188px 0px #00000012;
  width: 300px;
  border-radius: 15px;
  background-color: white;
  padding: 90px 30px;
  margin-top: 30px;
  line-height: 40px;
}
.book-now {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 32.6848px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 10px;
}
.book-now-card-para {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18.677px;
  line-height: 27px;
  letter-spacing: 0.583658px;
  color: #282828;
}
.book-now-card-labels {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12.8405px;
  line-height: 27px;
  letter-spacing: 0.583658px;
  text-transform: uppercase;
  color: #000000;
}
.book-card-flex-columns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.book-card-column {
  flex: 1;
  -ms-flex: 1;
}
.book-card-column input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 17.5097px;
  width: 130.1px;
  height: 52.53px;
  border: none;
  background: #f3f3f3;
  border-radius: 11.6732px;
}
.city-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 17.5097px;

  width: 93%;
  height: 52.53px;
  border: none;
  background: #f3f3f3;
  border-radius: 11.6732px;
}
.book-now-card-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 14.0078px 18.677px;
  width: 125.35px;
  height: 46.02px;
  color: white;
  background: #000000;
  border-radius: 4.66926px;
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15.1751px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.testimoni-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  text-align: center;
  width: 296px;
  height: 290px;
  background: #ffffff;
}
.testimonials-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 360px;
  margin: 0 auto;
  padding: 100px 0;
}
.footer-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  text-align: center;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: 150px;
  padding: 100px 0;
}
.footer-links ul li {
  list-style-type: none;
}
.card-name {
  box-shadow: 0px 15px 10px -15px #111;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #2d2e2e;
}
.testimoni-card-para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #2d2e2e;
}
.footer-head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.footer-para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.footer-lg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* Black-fonts, headings */

  color: #2d2e2e;
}
.footer-dark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  /* Black-fonts, headings */

  color: #2d2e2e;
}
